body{
    background-color:#000000;
    color: #e2d2d2;
}


.intro{
    display: flex;
    gap: 1200px;
}

.plus{
    background-color: whitesmoke;
    color: black;
    border: none;
    font-size:xx-large;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;

}

.box1{
    width: 250px;
    height: 450px;
    border: 1px solid black;
    background-color: #221f1f;
    box-shadow: 0px 0px 15px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    gap: 10px;
}

.photobox1{
    width:200px ;
    height: 250px;
    border: 2px solid black;
    background-color: aqua;
    border-radius: 10px;
}

.title1{
    width: 200px;
    height: 30px;

    border: 1px solid white;
}

.description1{
    width: 200px;
    height: 40px;
    border: 1px solid white;
}

.writetitle1{
    font-size:large;
    margin-left: 4px;
    margin-top: 4px;
}

.writedes1{
    font-size:large;
    margin-left: 4px;
    margin-top: 7px;
}

.read1{
    width: 80px;
    height: 30px;
    background-color: pink;
    color: rgb(176, 25, 50);
    font-size:large;
    border-radius: 5px;
}




.box2{
    width: 250px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #221f1f;
    box-shadow: 0px 0px 15px white;
    flex-direction: column;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    gap: 10px;
}

.photobox2{
    width:200px ;
    height: 250px;
    border: 2px solid black;
    background-color: aqua;
    border-radius: 10px;
}

.title2{
    width: 200px;
    height: 30px;
    border: 1px solid white;
}

.description2{
    width: 200px;
    height: 40px;
    border: 1px solid white;
}

.writetitle2{
    font-size:large;
    margin-left: 4px;
    margin-top: 4px;
}

.writedes2{
    font-size:large;
    margin-left: 4px;
    margin-top: 7px;
}

.read2{
    width: 80px;
    height: 30px;
    background-color: rgb(216, 174, 181);
    color: rgb(176, 25, 50);
    font-size:large;
    border-radius: 5px;
}





.box3{
    width: 250px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: #221f1f;
    box-shadow: 0px 0px 15px white;
    border-radius: 5px;
    margin: auto;
    padding: auto;
    gap: 10px;
}

.photobox3{
    width:200px ;
    height: 250px;
    border: 2px solid black;
    background-color: aqua;
    border-radius: 10px;
}

.title3{
    width: 200px;
    height: 30px;
    border: 1px solid white;
}

.description3{
    width: 200px;
    height: 40px;
    border: 1px solid white;
}

.writetitle3{
    font-size:large;
    margin-left: 4px;
    margin-top: 4px;
}

.writedes3{
    font-size:large;
    margin-left: 4px;
    margin-top: 7px;
}

.read3{
    width: 80px;
    height: 30px;
    background-color: pink;
    color: rgb(176, 25, 50);
    font-size:large;
    border-radius: 5px;
}