.form-cover{
    position: absolute;
    height: 100%;
    width: 99%;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    visibility: hidden;
}

form{
    width: 50%;
    margin: 50px auto;
    border: 2px solid black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #221f1f;
    border-radius: 10px;
    /* visibility: hidden; */
}

input{
    padding: 10px 12px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    background-color: #f5f5f5;
}

textarea{
    padding: 10px 12px;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    background-color: #f5f5f5;
}

.back-arrow{
    width: fit-content;
    position: relative;
    font-size: 30px;
    color: white;
    cursor: pointer;
}