body{
    background-color: whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


.url{
    border: 1px solid black;
    width: 80%;
    height: 45px;
}

.title{
    border: 1px solid black;
    width: 80%;
    height: 45px;
}

.des
{
    border: 1px solid black;
    width: 80%;
    height: 45px;
}

.write{
    border: 1px solid black;
    width: 80%;
    height: 350px;
}

.urlw{
    margin-left: 8px;
    margin-top: 11px;
    font-size: large;
    
}

.titlew{
    margin-left: 8px;
    margin-top: 11px;
    font-size: large;
    
}

.des{
    margin-left: 8px;
    margin-top: 11px;
    font-size: large;
    
}

.titlew{
    margin-left: 8px;
    margin-top: 11px;
    font-size: large;
    
}